<h1>Galaxy Cocktails</h1>
<div id="recipes-wrapper">
  <% @cocktails.each do |cocktail| %>
    <div class="recipe text-center"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
  <% end %>
</div>
<%= link_to new_cocktail_path, class: "btn btn-primary space-button pull-right" do %>
  New cocktail <i class="fa fa-glass"></i>
<% end %>
