// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Permanent+Marker|Nova+Mono');

$metalic_blue: #4000FF;

body {
  margin-top: 30px;
  background-color: black;
  color: white;
  font-family: 'Nova Mono', monospace;
  margin-bottom: 50px;
  font-weight: 300;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c114f+0,000000+100 */
  background: #100041; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0c114f 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #0c114f 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #0c114f 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c114f', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.back {
  a {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-left: 10px;
    &:hover {
      color: #6a38ff;
      text-decoration: none;
    }
    i {
      color: #6a38ff;
    }
  }
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#recipes-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe {
  border: $metalic_blue solid;
  border-width: 0px 0px 1px 0px;
  padding: 20px 0px 20px 80px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  background-repeat: no-repeat;
  background-position: 50px 0px;
  background-size: 80px;
  transition: all 0.3s ease;
  color: white;
  font-family: 'Lato', sans-serif;
  &:hover {
    background-color: $metalic_blue;
    background-image: none;
    background-position: -100px 0px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.form-control {
  background-color: transparent;
  color: white;
}

.form-control:focus {
  border-color: $metalic_blue;
}

.btn {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 10px 30px;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  border-color: $metalic_blue;
  border-width: 0 0 3px 0;
  text-transform: uppercase;
  border-radius: 0px;
  transition: all 0.3s;
  &:hover, &:active, &:focus, &:active:focus {
    background-color: $metalic_blue;
    color: white;
    border-color: $metalic_blue;
  }
}

.ingredients {
  margin-top: 40px;
  margin-bottom: 40px;
  a {
    color: #6a38ff;
  }
  i:hover, a:hover {
    color: white;
    text-decoration: none;
  }
}
